# ======================
# Python / FastAPI
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

.env
venv/
.venv/
.chroma_db/
chroma_db/
*.log

# ======================
# Angular / Node
# ======================
node_modules/
dist/
.angular/
*.tsbuildinfo
coverage/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db


backend/data
backend/chroma_db
backend/cache
backend/data/csv/DATA VENTE.csv
backend/data/csv/testcsv.csv
