fastapi
uvicorn[standard]

langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
transformers
torch
accelerate

pandas
numpy
openpyxl

pypdf
python-docx
docx2txt

openai

python-dotenv

rank-bm25

tiktoken

unstructured

scikit-learn

tqdm